<h1 style="text-align: center;">Frontend UI Implementation</h1>
<div class="container">
  <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#id</th>
          <th scope="col">name</th>
          <th scope="col">username</th>
          <th scope="col">email</th>
          <th scope="col">Website</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Bookingarray1 ">
          <td >{{item['id']}}</td>
          <td >{{item['name']}}</td>
          <td >{{item['username']}}</td>
          <td >{{item['email']}}</td>    
          <td >{{item['website']}}</td>       
      </tr>
      </tbody>
    </table>
</div>

<h1 style="text-align: center;">Booking Rest API Fetch Table</h1>
<table class="table table-striped">
  <thead class="table-light" style="background: #90C3F9;">
      <tr>
          <th ><b>BookingID</b></th>
          <th ><b>DateTime</b></th>
          <th ><b>Venue</b></th>
          <th ><b>Screen</b></th>
          <th ><b>MovieName</b></th>
          <th ><b>NumberofTickets</b></th>
          <th ><b>NumberofSeats</b></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of Bookingarray ">
          <td >{{item['bookingId']}}</td>
          <td >{{item['date']}}</td>
          <td >{{item['venue']}}</td>
          <td >{{item['screen']}}</td>
          <td >{{item['movieName']}}</td>
          <td >{{item['numberofTickets']}}</td>
          <td >{{item['numberofSeats']}}</td>
      </tr>
  </tbody>
</table>
